
<div class="simple-table-container">
	<div class="simple-table-filter">
		<md-input-container floatPlaceholder="never">
			<input mdInput #filter placeholder="search...">
		</md-input-container>
        <span
            style="opacity:0.5; font-size: 0.7em;padding-left: 15px;"
            *ngIf="selectedSampleIdList.length > 0">
            selected: {{selectedSampleIdList|json}}
        </span>
	</div>
	<md-table #table [dataSource]="sampleDataSource" class="simple-table" mdSort>

		<ng-container
			cdkColumnDef="{{columnKey}}"
			*ngFor="let columnKey of columnMapKeys">
            <span *ngIf="columnMap[columnKey]['SYS_TYPE'] == 'checkbox'">
                <md-header-cell *cdkHeaderCellDef class="simple-table-header-cell-checkbox">
                    <md-checkbox
                        [(ngModel)]="isSelectAll"
                        (click)="selectAllSamples()"
                        color="primary">
                    </md-checkbox>
                </md-header-cell>
            </span>
            <span *ngIf="columnMap[columnKey]['SYS_TYPE'] != 'checkbox'">
                <md-header-cell *cdkHeaderCellDef class="simple-table-header-cell" md-sort-header>
                    {{columnMap[columnKey]['SYS_LABEL']}}
                </md-header-cell>
            </span>
            <span *ngIf="columnMap[columnKey]['SYS_TYPE'] == 'checkbox'">
                <md-cell *cdkCellDef="let row" class="simple-table-cell-checkbox">
                    <md-checkbox
                        [(ngModel)]="row['TMP_CHECKED']"
                        (click)="selectSample(row)"
                        color="primary">
                    </md-checkbox>
                </md-cell>
            </span>
            <span *ngIf="columnMap[columnKey]['SYS_TYPE'] != 'checkbox'">
                <md-cell *cdkCellDef="let row" class="simple-table-cell">
                    {{row[columnKey]}}
                </md-cell>
            </span>
		</ng-container>

		<md-header-row *cdkHeaderRowDef="columnMapKeys" class="simple-table-header-row">
		</md-header-row>

		<md-row *cdkRowDef="let row; columns: columnMapKeys;" class="simple-table-row">
		</md-row>
	</md-table>
	<md-paginator #paginator
		[length]="sampleDataSource.dataLength"
		[pageIndex]="0"
		[pageSize]="10"
		[pageSizeOptions]="[1,2, 10, 25, 100]">
	</md-paginator>
</div>
