<div class="simple-table-container">
	<div
     class="simple-table-filter"
    fxLayout="row" fxLayoutAlign="space-between end" >
        <div>
            <mat-select
                (change)="onProjectCodeChange($event)"
                   [(ngModel)]="projectCode"
                placeholder="{{projectCodeList.length}} Projects">
                <mat-option *ngFor="let code of projectCodeList" [value]="code">
                    {{code}}
                </mat-option>
            </mat-select>
            <button
                (click)="clearProjectCode()"
                mat-icon-button>
                <mat-icon style="font-size:0.5em">close</mat-icon>
            </button>
        </div>
        <div>
            <mat-input-container floatPlaceholder="never">
                <input matInput #filter placeholder="search...">
            </mat-input-container>
        <!--<span-->
            <!--style="opacity:0.5; font-size: 0.7em;padding-left: 15px;"-->
            <!--*ngIf="selectedSampleIdList.length > 0">-->
            <!--Sample selected: {{selectedSampleIdList.length}}-->
            <!--<br/>-->
            <!--{{selectedSampleIdList|json}}-->
        <!--</span>-->
        <!--<span style="opacity:0.7; font-size: 0.7em;padding-left: 15px;">-->
            <!--<br/>-->
            <!--<span *ngFor="let sample of rawSampleList">-->
                <!--<span *ngIf="sample['TMP_CHECKED']">-->
                <!--"{{sample.id}}",-->
                <!--</span>-->
            <!--</span>-->
        <!--</span>-->
        </div>
	</div>
	<mat-table #table [dataSource]="sampleDataSource" class="simple-table" matSort>

		<ng-container
			cdkColumnDef="{{columnKey}}"
			*ngFor="let columnKey of columnMapKeys">
            <span *ngIf="columnMap[columnKey]['SYS_TYPE'] == 'checkbox'">
                <mat-header-cell *cdkHeaderCellDef class="simple-table-header-cell-checkbox">
                    <mat-checkbox
                        [(ngModel)]="isSelectAll"
                        (ngModelChange)="selectAllSamples()"
                        color="primary">
                    </mat-checkbox>
                </mat-header-cell>
            </span>
            <span *ngIf="columnMap[columnKey]['SYS_TYPE'] != 'checkbox'">
                <mat-header-cell *cdkHeaderCellDef
                    [style.min-width]="getMinWidth(columnKey)"
                    class="simple-table-header-cell" mat-sort-header>
                    {{columnMap[columnKey]['SYS_LABEL']}}
                </mat-header-cell>
            </span>
            <span *ngIf="columnMap[columnKey]['SYS_TYPE'] == 'checkbox'">
                <mat-cell
                    *cdkCellDef="let row"
                    [ngClass]="{'simple-table-cell-checkbox': row['TMP_TABLE_ITEM'],'simple-table-cell-checkbox-indent': !row['TMP_TABLE_ITEM']}">
                    <mat-checkbox
                        [(ngModel)]="row['TMP_CHECKED']"
                        (ngModelChange)="selectSample(row)"
                        color="primary">
                        <!--<span style="font-size:0.5em;opacity:0.5">-->
                            <!--{{row.id}} -->
                            <!--({{rawSampleList[row.TMP_NEXT_SAMPLE_INDEX].id.substr(21)}})-->

                            <!--The question mark is used for the samples that do not have any next sample id-->
                            <!--for example, samples in the scheduled/completed-->
                            <!--({{rawSampleList[row.TMP_NEXT_SAMPLE_INDEX]?.id.substr(21)}})-->
                        <!--</span>-->
                    </mat-checkbox>
                </mat-cell>
            </span>
            <span *ngIf="columnMap[columnKey]['SYS_TYPE'] != 'checkbox'">
                <mat-cell *cdkCellDef="let row"
                    [class.suspended-sample]="row['TMP_SUSPENDED']"
                    class="simple-table-cell"
                    [style.min-width]="getMinWidth(columnKey)">
                    <span *ngIf="row['TMP_TABLE_ITEM'] && columnKey == 'SYS_SAMPLE_CODE'">
                        <span *ngIf="!targetHybridType">
                            <span *ngIf="row['SYS_RUN_CODE']">
                                <span
                                    (click)="openInternalSampleDialog(row)">
                                    {{row['SYS_RUN_CODE']}}
                                </span>
                            </span>
                            <span *ngIf="!row['SYS_RUN_CODE'] && row['SYS_LANE_CODE']">
                                <span
                                    (click)="openInternalSampleDialog(row)">
                                    {{row['SYS_LANE_CODE']}}
                                </span>
                            </span>
                            <span *ngIf="!row['SYS_RUN_CODE'] && !row['SYS_LANE_CODE'] && row['SYS_CAPTURE_CODE']">
                                <span
                                    (click)="openInternalSampleDialog(row)">
                                    {{row['SYS_CAPTURE_CODE']}}
                                </span>
                            </span>
                        </span>
                        <span *ngIf="targetHybridType">
                            <span
                                *ngIf="targetHybridType == 'SAMPLE'">
                                {{row['SYS_'+targetHybridType+'_CODE']}}
                            </span>
                            <span
                                *ngIf="targetHybridType != 'SAMPLE'"
                                (click)="openInternalSampleDialog(row)">
                                {{row['SYS_'+targetHybridType+'_CODE']?row['SYS_'+targetHybridType+'_CODE']:"(null)"}}
                            </span>
                        </span>
                        <span *ngIf="(!row['SYS_RUN_CODE'] && !row['SYS_LANE_CODE'] && !row['SYS_CAPTURE_CODE'])">
                            <show-auxiliary-attribute
                                *ngIf="row['TMP_SAMPLE_SET']"
                                [hybridObject]="hybridObjectMap"
                                [sample]="row"
                                [sampleSet]="row['TMP_SAMPLE_SET']"
                                [attributeLabel]="columnMap[columnKey]['SYS_LABEL']"
                                [attributeType]="columnMap[columnKey]['SYS_TYPE']"
                                [attributeGenre]="columnMap[columnKey]['SYS_GENRE']"
                                [attributeCode]="columnKey">
                            </show-auxiliary-attribute>
                        </span>
                    </span>
                    <span *ngIf="!row['TMP_TABLE_ITEM'] || columnKey != 'SYS_SAMPLE_CODE'">
                        <span [ngSwitch]="columnMap[columnKey]['SYS_TYPE']">
                            <span *ngSwitchCase="'date'">
                                {{row[columnKey] | date: 'yyyy.MM.dd'}}
                            </span>
                            <span *ngSwitchCase="'entity'">
                                <entity-tostring
                                    [entityId]="row[columnKey]">
                                </entity-tostring>
                            </span>
                            <span *ngSwitchDefault>
                                <show-auxiliary-attribute
                                    *ngIf="row['TMP_SAMPLE_SET']"
                                    [hybridObject]="hybridObjectMap"
                                    [sample]="row"
                                    [sampleSet]="row['TMP_SAMPLE_SET']"
                                    [attributeLabel]="columnMap[columnKey]['SYS_LABEL']"
                                    [attributeType]="columnMap[columnKey]['SYS_TYPE']"
                                    [attributeGenre]="columnMap[columnKey]['SYS_GENRE']"
                                    [attributeCode]="columnKey">
                                </show-auxiliary-attribute>
                            </span>
                        </span>
                    </span>
                </mat-cell>
            </span>
		</ng-container>

		<mat-header-row *cdkHeaderRowDef="columnMapKeys" class="simple-table-header-row">
		</mat-header-row>

		<mat-row *cdkRowDef="let row; columns: columnMapKeys;" class="simple-table-row">
		</mat-row>
	</mat-table>
	<mat-paginator #paginator
		[length]="sampleDataSource.dataLength"
		[pageIndex]="0"
		[pageSize]="10"
		[pageSizeOptions]="[1,2, 10, 25, 100]">
	</mat-paginator>
</div>
