<mat-input-container style="display:none">
	<input
		matInput
		[required]="true"
		type="text"
		[(ngModel)]="instance['genre']"
		placeholder="Entity Type"/>
</mat-input-container>
<mat-input-container style="display:none">
	<input
		matInput
		[required]="true"
		type="text"
		[(ngModel)]="instance['identifier']"
		placeholder="Identifier"/>
</mat-input-container>
<div
    fxLayout="column"
    fxLayoutAlign="space-around stretch"
    *ngFor="let entity of entityList">
    <entity-form-inline
        [object]="object"
        [optionLevel]="optionLevel"
        [entity]="entity">
    </entity-form-inline>
</div>
