<div
    fxLayout="row"
    fxLayoutAlign="space-between stretch"> 
    <span
        *ngFor="let attribute of attributeList">
        <span [ngSwitch]="attribute.SYS_TYPE">
            <span *ngSwitchCase="'string'">
                <md-input-container class="full-width">
                    <input
                        mdInput
                        [required]="attribute.SYS_REQUIRED"
                        type="text"
                        [(ngModel)]="object[attribute.SYS_CODE]"
                        placeholder="{{attribute[attribute['SYS_LABEL']]}}"/>
                </md-input-container>
            </span>
            <span *ngSwitchCase="'text'">
                <md-input-container class="full-width">
                    <textarea
                        mdInput
                        [required]="attribute.SYS_REQUIRED"
                        [(ngModel)]="object[attribute.SYS_CODE]"
                        placeholder="{{attribute[attribute['SYS_LABEL']]}}">
                    </textarea>
                </md-input-container>
            </span>
            <span *ngSwitchCase="'number'">
                <md-input-container class="full-width">
                    <input
                        mdInput
                        [required]="attribute.SYS_REQUIRED"
                        type="number"
                        value="{{entity[attribute.SYS_CODE]}}"
                        [(ngModel)]="object[attribute.SYS_CODE]"
                        placeholder="{{attribute[attribute['SYS_LABEL']]}}"/>
                </md-input-container>
            </span>
            <span *ngSwitchCase="'list'">
                <md-select
					class="full-width"
                    [(ngModel)]="object[attribute.SYS_CODE]"
                    placeholder="{{attribute[attribute['SYS_LABEL']]}}">
                    <md-option 
                        value="{{o.split(':')[0]}}"
                        *ngFor="let o of attribute.typeList.split(',')">
                        {{o.split(':')[1]}}
                    </md-option>
                </md-select>
            </span>
            <span *ngSwitchCase="'boolean'">
                <md-checkbox
                    class="example-margin"
                    [(ngModel)]="object[attribute.SYS_CODE]">
                    {{attribute[attribute['SYS_LABEL']]}}
                </md-checkbox>
            </span>
            <span *ngSwitchCase="'date'">
                <md-input-container class="full-width">
                    <input
                        mdInput
                        type="date"
                        [(ngModel)]="object[attribute.SYS_CODE]"
                        placeholder="{{attribute[attribute['SYS_LABEL']]}}"/>
                </md-input-container>
            </span>
            <span *ngSwitchCase="'datetime'">
                <md-input-container class="full-width">
                    <input
                        mdInput
                        type="datetime-local"
                        [(ngModel)]="object[attribute.SYS_CODE]"
                        placeholder="{{attribute[attribute['SYS_LABEL']]}}"/>
                </md-input-container>
            </span>
            <span *ngSwitchCase="'file'">
                <md-input-container class="full-width">
                    {{attribute[attribute['SYS_LABEL']]}}
                    <input
                        mdInput
                        type="file"/>
                </md-input-container>
            </span>
            <span *ngSwitchCase="'entity'">
                <span *ngIf="attribute.SYS_TYPE_ENTITY_REF">
                    <entity-select-list
                        [object]="object"
                        [attribute]="attribute"
                        [ceilingEntityId]="entity[attribute['SYS_CODE']]">
                    </entity-select-list>
                </span>
            </span>
            <span *ngSwitchDefault>
                Unknown type: {{attribute[attribute['SYS_LABEL']]}} ({{attribute.SYS_CODE}})
            </span>
        </span>
    </span>
</div>
