<div fxLayout="row" fxLayoutAlign="space-between stretch" > 
    <span
        *ngIf="checkedEntityList">
        <md-checkbox
            (click)="checkEntity()"
            [(ngModel)]="entity['checked']"
            color="primary">
        </md-checkbox>
    </span>
    <span>
        <entity-tostring
            [entity]='entity'>
        </entity-tostring>
    </span>
    <span
        style="color: rgba(0, 0, 0, .54)"
        *ngFor="let attribute of attributeList">
        {{attribute[attribute['SYS_LABEL']]}}:
        <span *ngIf="attribute['SYS_TYPE'] == 'date'">
            {{entity[attribute['SYS_CODE']] | date: 'yyyy.MM.dd'}}
        </span>
        <span *ngIf="attribute['SYS_TYPE'] != 'date'">
            {{entity[attribute['SYS_CODE']]}}
        </span>
    </span>
</div>
