    <span
        *ngIf="checkedEntityList || showCheckbox">
        <md-checkbox
            [(ngModel)]="entity['TMP_CHECKED']"
            color="primary">
        </md-checkbox>
    </span>
    <span>
        <entity-tostring
            [entity]='entity'>
        </entity-tostring>
    </span>
    <span
        *ngFor="let attribute of attributeList">
        {{attribute[attribute['SYS_LABEL']]}}:
        <span *ngIf="attribute['SYS_TYPE'] == 'date'">
            {{entity[attribute['SYS_CODE']] | date: 'yyyy.MM.dd'}}
        </span>
        <span *ngIf="attribute['SYS_TYPE'] != 'date'">
            {{entity[attribute['SYS_CODE']]}}
        </span>
    </span>
