<div
    fxLayout="row"
    fxLayoutAlign="space-between center" >
    <h3>
        物料
    </h3>
    <div
        fxLayoutGap="10px"
        fxLayout="row"
        fxLayoutAlign="end center">
        <mat-select
            *ngIf="materialObjectList.length > 0"
            [(ngModel)]="queryCode"
            placeholder="Attribute">
            <mat-option
                value="{{attr.SYS_CODE}}"
                *ngFor="let attr of materialObjectList[0].SYS_SCHEMA">
                {{attr.SYS_LABEL}}
            </mat-option>
        </mat-select>
        <mat-input-container>
            <button
                mat-button
                matPrefix
                mat-icon-button
                aria-label="Clear"
                placeholder="Search"
                (click)="getMaterialList()">
                <mat-icon>search</mat-icon>
            </button>
            <input
                matInput
                type="text"
                (keyup.enter)="getMaterialList()"
                [(ngModel)]="queryValue"
                placeholder=""/>
            <mat-error *ngIf="queryCode==''">
                Attribute is <strong>required</strong>
            </mat-error>
            <button
                mat-button
                *ngIf="queryValue"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="clearQuery()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-input-container>
    </div>
</div>

<div *ngFor="let material of materialObjectList">
    <div
        style="margin-top:20px"
        fxLayout="row"
        fxLayoutAlign="space-between end" >
        <h3 class="section-title">
            {{material[material['SYS_LABEL']]}}
        </h3>
    </div>
    <div
        fxLayout="column"
        fxLayoutAlign="space-between stretch">
        <mat-accordion [multi]="true">
        <div *ngFor="let lot of material['TMP_LOT_LIST']">
            <mat-expansion-panel
                [expanded]="isExpanded(lot.id)"
                (opened)="openPanel(lot.id)"
                (closed)="closePanel(lot.id)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{lot[lot['SYS_LABEL']]}}
                        <span style="opacity:0.5;font-size:0.5em;margin-left:5px;">
                            ({{lot.id}})
                        </span>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div fxLayout="row" fxLayoutAlign="start stretch" >
                    <mat-list>
                        <h3 mat-subheader>采购记录(planning...)</h3>
                        <mat-list-item>
                            ...
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <h3 mat-subheader>样品记录: {{total}}</h3>
                        <mat-list-item *ngFor="let sample of sampleMap[lot.id]">
                            <mat-icon mat-list-icon>format_color_fill</mat-icon>
                            <h4 mat-line>{{sample.SYS_SAMPLE_CODE}}</h4>
                            <p mat-line> {{sample.createdAt | date}}: {{sample.SYS_QUANTITY}}, {{sample.REMARK}}</p>
                        </mat-list-item>
                    </mat-list>
                </div>
                <mat-action-row>
                    <button mat-button (click)="openEditEntityDialog(lot)">Add</button>
                    <button mat-button color="accent" (click)="showMessage('planning...')">Default LOT</button>
                    <button mat-button color="warn" (click)="showMessage('planning...')">Disable</button>
                </mat-action-row>
            </mat-expansion-panel>
        </div>
        </mat-accordion>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" >
        <button
            mat-icon-button
            (click)="showMessage('planning...')">
            <mat-icon>add</mat-icon>
        </button>
        <button
            mat-icon-button
            (click)="showMessage('planning...')">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button
            mat-icon-button
            (click)="showMessage('planning...')">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
</div>
