
<div
    fxLayout="row"
    fxLayoutAlign="space-between center" >
    <h3>
        {{workcenter[workcenter['SYS_LABEL']]}}
    </h3>
</div>

<div
    style="margin-top:20px"
    fxLayout="row"
    fxLayoutAlign="space-between end" >
    <h3 class="section-title"
        i18n="@@dashboard-tab-scheduled">
        Scheduled
    </h3>
</div>
<div
    fxLayout="column"
    fxLayoutAlign="space-between stretch">
    <md-accordion [multi]="false">
        <md-expansion-panel
            (opened)="showPanel['scheduled'] = true"
            (closed)="showPanel['scheduled'] = false"
            [class.disabled-panel]="false">
            <md-expansion-panel-header>
                <md-panel-title
                    i18n="@@dashboard-scheduled-samples">
                    SCHEDULED SAMPLES
                    <span style="opacity:0.5;font-size:0.5em;margin-left:5px;">
                    </span>
                </md-panel-title>
                <md-panel-description>
                </md-panel-description>
            </md-expansion-panel-header>
            <div
                *ngIf="showPanel['scheduled']">
                <div
                    *ngIf="(workcenter | json) != '{}'">
                    <workcenter-sample-scheduled
                        *ngIf="sampleList.length > 0"
                        [sampleList]="sampleList">
                    </workcenter-sample-scheduled>
                </div>
            </div>
        </md-expansion-panel>
    </md-accordion>
</div>

<div
    style="margin-top:20px"
    fxLayout="row"
    fxLayoutAlign="space-between end" >
    <h3 class="section-title"
        i18n="@@dashboard-tab-processing">
        Processing
    </h3>
</div>
<div
    fxLayout="column"
    fxLayoutAlign="space-between stretch">
    <md-accordion [multi]="false">
        <md-expansion-panel
            (opened)="showPanel['activated'] = true"
            (closed)="showPanel['activated'] = false"
            [class.disabled-panel]="false">
            <md-expansion-panel-header>
                <md-panel-title
                    i18n="@@dashboard-activated-samples">
                    ACTIVATED SAMPLES
                    <span style="opacity:0.5;font-size:0.5em;margin-left:5px;">
                    </span>
                </md-panel-title>
                <md-panel-description>
                </md-panel-description>
            </md-expansion-panel-header>
            <div
                *ngIf="showPanel['activated']">
                <div
                    *ngIf="(workcenter | json) != '{}'">
                    <workcenter-sample-activated
                        #activatedComponent
                        *ngIf="sampleList.length > 0"
                        [workcenter]="workcenter"
                        [sampleList]="sampleList">
                    </workcenter-sample-activated>
                </div>
            </div>
            <md-action-row>
                <div
                    *ngIf="(workcenter | json) != '{}'">
                    <md-select
                        i18n-placeholder="@@dashboard-operator"
                        [(ngModel)]="operator"
                        placeholder="Operator">
                        <md-option
                            *ngFor="let operator of operatorList"
                            [value]="operator.id">
                            <entity-tostring
                                [entity]="operator">
                            </entity-tostring>
                        </md-option>
                    </md-select>
                    <button
                        i18n="@@dashboard-btn-dispatch"
                        md-button
                        (click)="dispatch()">
                        DISPATCH
                    </button>
                    <button
                        i18n="@@dashboard-btn-terminate"
                        color="warn"
                        md-button>
                        TERMINATE
                    </button>
                </div>
            </md-action-row>
        </md-expansion-panel>
        <md-expansion-panel
            [expanded]="showPanel['dispatched']"
            (opened)="showPanel['dispatched'] = true"
            (closed)="showPanel['dispatched'] = false"
            [class.disabled-panel]="false">
            <md-expansion-panel-header>
                <md-panel-title
                    i18n="@@dashboard-dispateched-samples">
                    DISPATCHED SAMPLES
                    <span style="opacity:0.5;font-size:0.5em;margin-left:5px;">
                    </span>
                </md-panel-title>
                <md-panel-description>
                </md-panel-description>
            </md-expansion-panel-header>
            <div
                *ngIf="showPanel['dispatched']">
                <div
                    *ngIf="(workcenter | json) != '{}'">
                    <workcenter-sample-dispatched
                        *ngIf="sampleList.length > 0"
                        #dispatchedComponent
                        [workcenter]="workcenter"
                        [sampleList]="sampleList">
                    </workcenter-sample-dispatched>
                </div>
            </div>
            <md-action-row>
                <div
                    *ngIf="(workcenter | json) != '{}'">
                    <button
                        i18n="@@dashboard-btn-release"
                        md-button
                        (click)="undispatch()">
                        RELEASE
                    </button>
                    <button
                        i18n="@@dashboard-btn-process"
                        md-button
                        (click)="openNewEntityDialog(workcenter)">
                        PROCESS
                    </button>
                    <button
                        i18n="@@dashboard-btn-terminate"
                        color="warn"
                        md-button>
                        TERMINATE
                    </button>
                </div>
            </md-action-row>
        </md-expansion-panel>
    </md-accordion>
</div>

<div
    style="margin-top:20px"
    fxLayout="row"
    fxLayoutAlign="space-between end" >
    <h3 class="section-title"
        i18n="@@dashboard-tab-completed">
        Completed
    </h3>
</div>
<div
    fxLayout="column"
    fxLayoutAlign="space-between stretch">
    <md-accordion [multi]="false">
        <md-expansion-panel
            (opened)="showPanel['completed'] = true"
            (closed)="showPanel['completed'] = false"
            [class.disabled-panel]="false">
            <md-expansion-panel-header>
                <md-panel-title
                    i18n="@@dashboard-dispateched-samples">
                    COMPLETED SAMPLES
                    <span style="opacity:0.5;font-size:0.5em;margin-left:5px;">
                    </span>
                </md-panel-title>
                <md-panel-description>
                </md-panel-description>
            </md-expansion-panel-header>
            <div
                *ngIf="showPanel['completed']">
                <div
                    *ngIf="(workcenter | json) != '{}'">
                    <workcenter-sample-completed
                        #completedComponent
                        *ngIf="sampleList.length > 0"
                        [workcenter]="workcenter"
                        [sampleList]="sampleList">
                    </workcenter-sample-completed>
                </div>
            </div>
            <md-action-row>
                <div
                    *ngIf="(workcenter | json) != '{}'">
                    <button
                        md-button
                        (click)="editSample()">
                        EDIT
                    </button>
                </div>
            </md-action-row>
        </md-expansion-panel>
        <md-expansion-panel
            (opened)="showPanel['terminated'] = true"
            (closed)="showPanel['terminated'] = false"
            [class.disabled-panel]="false">
            <md-expansion-panel-header>
                <md-panel-title
                    i18n="@@dashboard-terminated-samples">
                    TERMINATED SAMPLES
                    <span style="opacity:0.5;font-size:0.5em;margin-left:5px;">
                    </span>
                </md-panel-title>
                <md-panel-description>
                </md-panel-description>
            </md-expansion-panel-header>
            <div
                *ngIf="showPanel['terminated']">
                <div
                    *ngIf="(workcenter | json) != '{}'">
                    <workcenter-sample-terminated
                        [checkedEntityList]="checkedEntityList"
                        [workcenter]="workcenter">
                    </workcenter-sample-terminated>
                </div>
            </div>
            <md-action-row>
            </md-action-row>
        </md-expansion-panel>
    </md-accordion>
</div>
