<div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="10px"
    *ngFor="let key of (shownSampleList | objectKeys);">
    <span *ngIf="key!='SAMPLES'">
        <span
            *ngIf="showCheckbox">
            <md-checkbox
                [(ngModel)]="hybridSampleChecked"
                (click)="checkSample()"
                color="primary">
            </md-checkbox>
        </span>
        <span
            (click)="showElement = !showElement">
            {{key}}
        </span>
        <div
            *ngIf="showElement"
            style="margin-left: 50px">
            <hybrid-sample-destructor
                [showCheckbox]="showCheckbox"
                [shownSampleList]="shownSampleList[key]"
                [hybridSampleList]="hybridSampleList">
            </hybrid-sample-destructor>
        </div>
    </span>
    <span *ngIf="key=='SAMPLES'">
        <div *ngFor="let sample of shownSampleList[key]">
            <span
                *ngIf="showCheckbox">
                <span *ngIf="hybridSampleList[sample['TMP_NEXT_SAMPLE_INDEX']]">
                    <md-checkbox
                        [(ngModel)]="hybridSampleList[sample['TMP_NEXT_SAMPLE_INDEX']]['TMP_CHECKED']"
                        color="primary">
                        "{{hybridSampleList[sample['TMP_NEXT_SAMPLE_INDEX']]['SYS_SAMPLE_CODE']}}"
                    </md-checkbox>
                </span>
                <span *ngIf="!hybridSampleList[sample['TMP_NEXT_SAMPLE_INDEX']]">
                    <md-checkbox
                        *ngIf="sample['TMP_CHECKED'] != 'blahblah'"
                        [(ngModel)]="sample['TMP_CHECKED']"
                        color="primary">
                        {{sample['SYS_SAMPLE_CODE']}}
                    </md-checkbox>
                </span>
            </span>
            <entity-info-inline
                [entity]="sample">
            </entity-info-inline>
        </div>
    </span>
</div>
