<ul
    *ngIf="sampleLists.length > 0"
    style="list-style:none">
    <li
		style="list-style:none"
		*ngFor="let entity of workcenterList;let i=index">
		<md-menu #menu="mdMenu" style="font-size:9pt">
			<button
				md-menu-item
				(click)="openNewGenreDialog(entity)">
				<md-icon>add</md-icon>
				<span>Genres of {{entity[entity["SYS_LABEL"]]}}</span>
			</button>
			<button
                md-menu-item
                (click)="openNewAttributeDialog(entity)">
				<md-icon>edit</md-icon>
				<span>Attributes of {{entity[entity["SYS_LABEL"]]}}</span>
			</button>
			<button
				md-menu-item
				(click)="openNewEntityDialog(entity)">
				<md-icon>add</md-icon>
				<span>Entities of {{entity[entity["SYS_LABEL"]]}}</span>
			</button>
            <md-divider></md-divider>
			<button
                md-menu-item
                [routerLink]="['/workcenter-dashboard', entity.id]">
				<md-icon>info</md-icon>
				<span>Details of {{entity[entity["SYS_LABEL"]]}}</span>
			</button>
		</md-menu>
		<span
			fxLayout="row"
			fxLayoutAlign="space-between center">
			<span
				style="width:100%"
				mdTooltip="{{entity.SYS_IDENTIFIER}}"
				[mdTooltipPosition]="'above'"
				[mdTooltipShowDelay]="2000"
                [mdTooltipHideDelay]="0">
				<span
	                (click)="getSampleList()"
                    style="font-size:12pt">
					<entity-tostring
                        [entity]="entity">
                    </entity-tostring>
				</span>
			</span>
            <span class="lead" style="font-size:2.5em;font-weight:bold;opacity:0.5;">
                {{workcenterSampleScheduledComponent.sampleCount}}/{{workcenterSampleActivatedComponent.sampleCount}}/{{workcenterSampleDispatchedComponent.sampleCount}}
            </span>
			<button
				md-icon-button
				style="opacity:0.5"
				[mdMenuTriggerFor]="menu">
				<md-icon>more_horiz</md-icon>
			</button>
		</span>
        <md-divider></md-divider>
        <ul 
            style="list-style:none">
            <li
                style="list-style:none">
                <h4>Scheduled</h4>
                <workcenter-sample-scheduled
                    #workcenterSampleScheduledComponent
                    [sampleList]="sampleLists[i]">
                </workcenter-sample-scheduled>
            </li>
            <li
                style="list-style:none">
                <h4>Activated</h4>
                <workcenter-sample-activated
                    #workcenterSampleActivatedComponent
                    [sampleList]="sampleLists[i]">
                </workcenter-sample-activated>
            </li>
            <li
                style="list-style:none">
                <h4>Dispatched</h4>
                <workcenter-sample-dispatched
                    #workcenterSampleDispatchedComponent
                    [sampleList]="sampleLists[i]">
                </workcenter-sample-dispatched>
            </li>
        </ul>
    </li>
</ul>

