<div
    fxLayout="column"
    fxLayoutAlign="space-between stretch">
    <div
        fxLayout="row"
        fxLayoutAlign="space-between stretch">
        <md-select
            class="full-width"
            placeholder="Client">
            <md-option
                *ngFor="let client of clientList"
                (click)="getContractListByClient(client)"
                [value]="client.id">
                {{client.name}}
            </md-option>
        </md-select>
        <md-select
            class="full-width"
            placeholder="Contract">
            <md-option
                *ngFor="let contract of contractList"
                (click)="getBatchListByContract(contract)"
                [value]="contract.id">
                {{contract.name}}
            </md-option>
        </md-select>
        <md-select
            class="full-width"
            placeholder="Batch">
            <md-option
                *ngFor="let batch of batchList"
                (click)="getSampleListByBatch(batch)"
                [value]="batch">
                {{batch}}
            </md-option>
        </md-select>
    </div>
    <div *ngFor="let sample of sampleList">
        <md-checkbox
            color="primary"
            class="example-margin"
            [(ngModel)]="sample.TMP_CHECK">
            {{sample.SYS_SAMPLE_CODE}}
            -
            {{sample.SYS_PANEL_CODE}}
            -
            {{sample.SYS_INDEX_CODE}}
            -
            {{sample.SYS_INDEX_SEQUENCE}}
        </md-checkbox>
        <sample-history
            [sample]="sample">
        </sample-history>
    </div>
    <div
        fxLayout="row"
        fxLayoutAlign="end end">
        <button 
            md-button
            (click)="openNewEntityDialog(entity)">
            SUBMIT
        </button>
        <button 
            md-button
            (click)="clearForm()">
            CLEAR
        </button>
    </div>
</div>
