<div
    fxLayout="row"
    fxLayoutAlign="space-between center" >
    <h3>
        任务下达
    </h3>
    <div
        fxLayoutGap="10px"
        fxLayout="row"
        fxLayoutAlign="end center">
        <md-select
            *ngIf="sampleList.length > 0"
            [(ngModel)]="queryCode"
            placeholder="Attribute">
            <md-option
                value="{{attr.SYS_CODE}}"
                *ngFor="let attr of sampleList[0].SYS_SCHEMA">
                {{attr.SYS_LABEL}}
            </md-option>
        </md-select>
        <md-input-container
            *ngIf="queryCode != 'SYS_DATE_COMPLETED'">
            <button
                md-button
                mdPrefix
                md-icon-button
                aria-label="Clear"
                placeholder="Search"
                (click)="getSampleList()">
                <md-icon>search</md-icon>
            </button>
            <input
                mdInput
                type="text"
                (keyup.enter)="getSampleList()"
                [(ngModel)]="queryValue"
                placeholder=""/>
            <md-error *ngIf="queryCode==''">
                Attribute is <strong>required</strong>
            </md-error>
            <button
                md-button
                *ngIf="queryValue"
                mdSuffix
                md-icon-button
                aria-label="Clear"
                (click)="clearQuery()">
                <md-icon>close</md-icon>
            </button>
        </md-input-container>
        <md-input-container
            *ngIf="queryCode == 'SYS_DATE_COMPLETED'">
            <div fxLayout="row" fxLayoutAlign="space-between center" >
                <input
                    mdInput
                    type="date"
                    (keyup.enter)="getSampleList()"
                    [(ngModel)]="queryDateStart"
                    placeholder="starts at..."/>
                <input
                    mdInput
                    type="date"
                    (keyup.enter)="getSampleList()"
                    [(ngModel)]="queryDateEnd"
                    placeholder="ends at..."/>
                <button
                    md-button
                    md-icon-button
                    aria-label="Search"
                    placeholder="Search"
                    (click)="getSampleList()">
                    <md-icon>search</md-icon>
                </button>
            </div>
        </md-input-container>
    </div>
</div>
<div
    style="margin-top:20px"
    fxLayout="row"
    fxLayoutAlign="space-between end" >
    <h3
        i18n="@@project-management-sample-section"
        class="section-title">
        Sample List
    </h3>
</div>
<div
    fxLayout="column"
    fxLayoutAlign="space-between stretch">
    <md-accordion [multi]="true">
    <div *ngFor="let sample of sampleList">
        <md-expansion-panel
            (opened)="showHistory[sample.id] = true"
            (closed)="showHistory[sample.id] = false"
            [class.disabled-panel]="sample.SYS_DATE_TERMINATED">
            <md-expansion-panel-header>
                <md-panel-title>
                    {{sample.SYS_SAMPLE_CODE}}
                    <span style="opacity:0.5;font-size:0.5em;margin-left:5px;">
                        ({{sample.id}})
                    </span>
                </md-panel-title>
                <md-panel-description>
                </md-panel-description>
            </md-expansion-panel-header>
            <div fxLayout="row" fxLayoutAlign="space-between center" >
                <div style="width:700px">
                    <sample-history
                        *ngIf="showHistory[sample.id]"
                        [sample]="sample">
                    </sample-history>
                </div>
                <div fxLayout="column" fxLayoutAlign="start start" >
                    <div
                        *ngFor="let schema of sample.SYS_SCHEMA"
                        fxLayout="row" fxLayoutAlign="space-between center" >
                        <div style="opacity:0.7">
                            {{schema.SYS_LABEL}}:
                        </div>
                        <div style="margin-left: 5px;">
                            <b>
                                <span
                                    *ngIf="schema.SYS_TYPE == 'date'">
                                    {{sample[schema.SYS_CODE] | date: 'yyyy.MM.dd HH:mm'}}
                                </span>
                                <span
                                    *ngIf="schema.SYS_TYPE != 'date'">
                                        {{sample[schema.SYS_CODE]}}
                                </span>
                            </b>
                        </div>
                    </div>
                    <div style="opacity:0.7">
                        Created:
                    </div>
                    <div style="margin-left: 5px;">
                        <b>
                            {{sample.createdAt | date: 'yyyy.MM.dd HH:mm'}}
                        </b>
                    </div>
                </div>
            </div>
            <md-action-row>
                <button md-button [routerLink]="['/sample-overview', sample.SYS_SAMPLE_CODE]">Detail</button>
                <button md-button (click)="openEditEntityDialog(sample)">Edit</button>
                <button md-button color="accent" (click)="showMessage('Click the dot in the diagram')">Reschedule</button>
                <button md-button color="warn" (click)="showMessage('planning...')">Pause</button>
            </md-action-row>
        </md-expansion-panel>
    </div>
    </md-accordion>
</div>
<div fxLayout="row" fxLayoutAlign="end center" >
    <button
        md-icon-button
        (click)="openNewEntityDialog(entity)">
        <md-icon>add</md-icon>
    </button>
    <button
        md-icon-button
        (click)="prevPage()">
        <md-icon>keyboard_arrow_left</md-icon>
    </button>
    <button
        md-icon-button
        (click)="nextPage()">
        <md-icon>keyboard_arrow_right</md-icon>
    </button>
</div>
<div
    style="margin-top: 20px">
    <h3
        i18n="@@project-management-util-section"
        class="section-title">
        Utils
    </h3>
    <plugin-excel-processor
        *ngIf="(entity | json) != '{}'"
        [hybridObjectMap]="{}"
        [sampleList]="sampleList"
        [workcenter]="entity">
    </plugin-excel-processor>
</div>
