<div fxLayout="column" fxLayoutAlign="space-between stretch" >
    <hybrid-sample-destructor
        *ngIf="sampleList.length > 0 && activatedSampleList.length > 0"
        [workcenter]="workcenter"
        [hybridSampleList]="sampleList"
        [shownSampleList]="builtSampleList"
        [showCheckbox]="true">
    </hybrid-sample-destructor>
    <!--<sample-info-inline-->
        <!--*ngIf="sampleList?.length > 0 && activatedSampleList.length > 0"-->
        <!--[showCheckbox]="true"-->
        <!--[shownSampleList]="activatedSampleList"-->
        <!--[sampleList]="sampleList">-->
    <!--</sample-info-inline>-->
</div>
