<div fxLayout="column" fxLayoutAlign="space-between stretch" >
    <simple-table
        *ngIf="dispatchedSampleList.length > 0"
        [rawSampleList]="sampleList"
        [shownSampleList]="dispatchedSampleList"
        [columnList]="workcenter['SYS_AUXILIARY_ATTRIBUTE_LIST']">
    </simple-table>
    <!--<sample-info-inline-->
        <!--*ngIf="sampleList?.length > 0 && dispatchedSampleList.length > 0"-->
        <!--[showCheckbox]="true"-->
        <!--[shownSampleList]="dispatchedSampleList"-->
        <!--[sampleList]="sampleList">-->
    <!--</sample-info-inline>-->
</div>
<br/>
<span
    *ngIf="workcenter">
    <plugin-index-validator
        *ngIf="workcenter['SYS_WORKCENTER_PLUGIN_INDEX_VALIDATOR']"
        [sampleList]="sampleList">
    </plugin-index-validator>
</span>
<br/>
<span
    *ngIf="workcenter">
    <plugin-excel-processor
        *ngIf="workcenter['SYS_WORKCENTER_PLUGIN_EXCEL_PROCESSOR']"
        [sampleList]="sampleList"
        [workcenter]="workcenter">
    </plugin-excel-processor>
</span>
