<div fxLayout="column" fxLayoutAlign="space-between stretch" >
    <simple-table
        *ngIf="activatedSampleList.length > 0"
        [rawSampleList]="sampleList"
        [shownSampleList]="activatedSampleList"
        [columnList]="workcenter['SYS_AUXILIARY_ATTRIBUTE_LIST']">
    </simple-table>

    <!--<sample-info-inline-->
        <!--*ngIf="sampleList?.length > 0 && activatedSampleList.length > 0"-->
        <!--[showCheckbox]="true"-->
        <!--[shownSampleList]="activatedSampleList"-->
        <!--[sampleList]="sampleList">-->
    <!--</sample-info-inline>-->
</div>
