<div fxLayout="column" fxLayoutAlign="space-between stretch" >
    <simple-table
        *ngIf="dispatchedSampleList.length > 0"
        [hybridObjectMap]="hybridObjectMap"
        [rawSampleList]="sampleList"
        [shownSampleList]="dispatchedSampleList"
        [columnList]="workcenter['SYS_AUXILIARY_ATTRIBUTE_LIST']">
    </simple-table>
</div>
<br/>
<span
    *ngIf="workcenter">
    <plugin-index-validator
        *ngIf="workcenter['SYS_WORKCENTER_PLUGIN_INDEX_VALIDATOR']"
        [sampleList]="sampleList">
    </plugin-index-validator>
</span>
<br/>
<workcenter-form
    [object]="formObject"
    [workcenter]="workcenter">
</workcenter-form>
<br/>
<span
    *ngIf="workcenter">
    <plugin-excel-processor
        *ngIf="workcenter['SYS_WORKCENTER_PLUGIN_EXCEL_PROCESSOR']"
        [formObject]="formObject"
        [hybridObjectMap]="hybridObjectMap"
        [sampleList]="sampleList"
        [workcenter]="workcenter">
    </plugin-excel-processor>
</span>
