<div fxLayout="column" fxLayoutAlign="space-between stretch" >
    <hybrid-sample-destructor
        *ngIf="sampleList.length > 0 && dispatchedSampleList.length > 0"
        [hybridSampleList]="sampleList"
        [shownSampleList]="builtSampleList"
        [showCheckbox]="true">
    </hybrid-sample-destructor>
    <!--<sample-info-inline-->
        <!--*ngIf="sampleList?.length > 0 && dispatchedSampleList.length > 0"-->
        <!--[showCheckbox]="true"-->
        <!--[shownSampleList]="dispatchedSampleList"-->
        <!--[sampleList]="sampleList">-->
    <!--</sample-info-inline>-->
</div>
<plugin-index-validator
    [sampleList]="sampleList">
</plugin-index-validator>
