<h2>Candidates</h2>
<div fxLayout="column" fxLayoutAlign="space-between stretch" >
    <div
        *ngIf="(workcenter | json) != '{}'">
        <workcenter-sample-scheduled
            [workcenter]="workcenter">
        </workcenter-sample-scheduled>
    </div>
    <div
        *ngIf="(workcenter | json) != '{}'">
        <workcenter-sample-activated
            [workcenter]="workcenter">
        </workcenter-sample-activated>
    <div>
        Completed
    </div>
    <div>
        Exceptional
    </div>
</div>
