<div
    fxLayout="row"
    fxLayoutAlign="space-between start">
    <h3>
        {{config.entity[config.entity["SYS_LABEL"]] | uppercase}}
    </h3>
    <button
        tabindex="-1"
        md-icon-button
        md-dialog-close>
        x 
    </button>
</div>
<br/>
<br/>
<div
    fxLayout="column"
    fxLayoutAlign="center stretch"> 
    <md-input-container
        style="display:none"
        class="full-width">
        <input
            mdInput
            disabled
            type="text"
            [(ngModel)]="object.id"
            placeholder="Key"/>
    </md-input-container>
    <md-select
        class="full-width"
        placeholder="Entity Type"
        [(ngModel)]="object.SYS_GENRE">
        <md-option
            *ngFor="let genre of genreList"
            (click)="getAttributesByGenre(genre.id)"
            [value]="genre.id">
            {{genre[genre["SYS_LABEL"]]}}
        </md-option>
    </md-select>
    <br/>
    <md-input-container class="full-width">
        <input
            mdInput
            required
            type="text"
            [(ngModel)]="object.SYS_CODE"
            placeholder="Key"/>
    </md-input-container>
    <md-input-container class="full-width">
        <input
            mdInput
            required
            type="text"
            [(ngModel)]="object.label"
            placeholder="Title"/>
    </md-input-container>
    <md-input-container class="full-width">
        <input
            mdInput
            type="number"
            [(ngModel)]="object.SYS_ORDER"
            placeholder="Nubmer of order"/>
    </md-input-container>
    <br/>
    <md-select
        class="full-width"
        placeholder="Attribute data type"
        [(ngModel)]="object.SYS_TYPE">
        <md-option
            *ngFor="let type of objectTypeList"
            [value]="type.value">
            {{type.title}}
        </md-option>
    </md-select>
    <br/>
    <span [ngSwitch]="object.SYS_TYPE">
        <span *ngSwitchCase="'entity'">
            <md-select
                class="full-width"
                placeholder="Entity Level">
                <!--[(ngModel)]="object.SYS_CEILING_ENTITY_TYPE"-->
                <md-option
                *ngFor="let category of categoryList"
                (click)="getEntityListByType(category.value)"
                [value]="category.value">
                    {{category.title}}
                </md-option>
            </md-select>
            <br/>
            <br/>
            <md-select
                class="full-width"
                placeholder="Select the entity (single)"
                [(ngModel)]="object.SYS_TYPE_ENTITY">
                <md-option
                *ngFor="let entity of entityCandidateList"
                [value]="entity.id">
                    {{entity[entity["SYS_LABEL"]]}}
                </md-option>
            </md-select>
            <br/>
            <br/>
            <md-select
                class="full-width"
                placeholder="Target Entity"
                [(ngModel)]="object.SYS_FLOOR_ENTITY_TYPE">
                <md-option
                    *ngFor="let category of categoryList"
                    [value]="category.value">
                    {{category.title}}
                </md-option>
            </md-select>
            <br/>
            <br/>
            <md-checkbox
                color="primary"
                [(ngModel)]="object.typeEntityRef">
                Take as reference and not expand the list
            </md-checkbox>
        </span>
        <span *ngSwitchCase="'list'">
            <md-input-container class="full-width">
                <input
                    mdInput
                    required
                    type="text"
                    [(ngModel)]="object.typeList"
                    placeholder="value:title,value:title,..."/>
            </md-input-container>
        </span>
    </span>
    <md-input-container class="full-width">
        <textarea
            mdInput
            [(ngModel)]="object.description"
            placeholder="Description">
        </textarea>
    </md-input-container>
    <md-checkbox
        color="primary"
        [(ngModel)]="object.SYS_REQUIRED">
        Required
    </md-checkbox>
    <md-checkbox
        color="primary"
        [(ngModel)]="object.SYS_IS_ENTITY_LABEL">
        As label
    </md-checkbox>
</div>
<div
    fxLayout="row"
    fxLayoutAlign="end end">
    <button 
        md-button
        (click)="createObject()">
        SUBMIT
    </button>
    <button 
        md-button
        (click)="object = {}">
        CLEAR
    </button>
</div>

<div
    *ngFor="let attribute of attributeList"
    fxLayout="column"
    fxLayoutAlign="center stretch">
    <md-card
        fxLayout="row"
        fxLayoutAlign="space-between center">
        <div>
            {{attribute.SYS_ORDER}}
        </div>
        <div>
            <span
                *ngIf="attribute['SYS_IS_ENTITY_LABEL']">
                [
            </span>
            {{attribute[attribute["SYS_LABEL"]]}}
            <span
                *ngIf="attribute['SYS_IS_ENTITY_LABEL']">
                ]
            </span>
            <span
                *ngIf="attribute['SYS_REQUIRED']">
                *
            </span>
        </div>
        <div>
            {{attribute.SYS_CODE}}
        </div>
        <div>
            {{attribute.SYS_TYPE}}
            <span style="color: #aaa">{{attribute.id}}</span>
            <button
                md-icon-button
                  (click)="editAttribute(attribute)">
                /
            </button>
            <button
                md-icon-button
                (click)="deleteAttributeById(attribute.id)">
                x
            </button>
        </div>
    </md-card>
    <br/>
</div>
