<ul style="list-style:none">
    <li
		style="list-style:none"
		*ngFor="let entity of entityList">
		<md-menu #menu="mdMenu" style="font-size:9pt">
			<button
				md-menu-item
				(click)="openNewEntityDialog()">
				<md-icon>add</md-icon>
				<span>Create New {{entity[entity["SYS_LABEL"]]}}</span>
			</button>
			<button
                md-menu-item
                (click)="openNewAttributeDialog(entity)">
				<md-icon>edit</md-icon>
				<span>Attributes of {{entity[entity["SYS_LABEL"]]}} </span>
			</button>
		</md-menu>
		<span
			fxLayout="row"
			fxLayoutAlign="space-between center">
			<span
				style="width:100%"
				mdTooltip="{{entity.SYS_IDENTIFIER}}"
				[mdTooltipPosition]="'right'"
				[mdTooltipShowDelay]="2000"
				[mdTooltipHideDelay]="0"
				(click)="entity.tmp_open=!entity.tmp_open">
				<span
					style="font-size:12pt">
					<!--<md-checkbox-->
					<!--[checked]="d.tmp_checked"-->
					<!--(change)="d.tmp_checked=!d.tmp_checked">-->
					<!--</md-checkbox>-->
					{{entity[entity["SYS_LABEL"]]}}
				</span>
			</span>
			<button
				md-icon-button
				style="opacity:0.5"
				[mdMenuTriggerFor]="menu">
				<md-icon>more_vert</md-icon>
			</button>
		</span>
        <tree-view 
            *ngIf="entity.tmp_open"
            [identifierPrefix]="entity.SYS_IDENTIFIER">
        </tree-view>
    </li>
</ul>

