<section layout="row" flex>
    <mat-toolbar
        class="fixed-toolbar">
        <button mat-icon-button checked="true" style="display:none;" (click)="sidenav.toggle()">
            <mat-icon class="toolbar-icon">menu</mat-icon>
        </button>
        <button mat-icon-button checked="true" [routerLink]="['/']">
            <mat-icon class="toolbar-icon">home</mat-icon>
        </button>
        <button mat-icon-button checked="true" (click)="refresh()">
            <mat-icon class="toolbar-icon">refresh</mat-icon>
        </button>
        <button mat-icon-button checked="true" [routerLink]="['apps']">
            <mat-icon class="toolbar-icon">apps</mat-icon>
        </button>
        <span class="toolbar-version">
            {{environment.version}}
        </span>
        <span class="toolbar-spacer"></span>
        <span class="toolbar-version">
            <span *ngIf="userInfo">
                <button mat-button [matMenuTriggerFor]="userMenu">
                    {{userInfo.email}}
                </button>
                <mat-menu #userMenu="matMenu">
                    <a
                        href="{{environment.uicUrl}}/profile"
                        mat-menu-item>
                        <mat-icon>account_circle</mat-icon>
                        <span>Profile</span>
                    </a>
                    <button mat-menu-item disabled>
                        <mat-icon>email</mat-icon>
                        <span>{{userInfo.email}}</span>
                    </button>
                    <a
                        href="{{environment.uicUrl}}/logout"
                        mat-menu-item>
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Logout</span>
                    </a>
                </mat-menu>
            </span>
        </span>
        <span class="toolbar-version">
            <button mat-icon-button [matMenuTriggerFor]="appMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #appMenu="matMenu">
                <button
                    (click)="refresh()"
                    mat-menu-item>
                    <mat-icon>refresh</mat-icon>
                    <span>Refresh</span>
                </button>
                <button
                    (click)="restore()"
                    mat-menu-item>
                    <mat-icon>delete</mat-icon>
                    <span>Clear Database</span>
                </button>
                <button mat-menu-item disabled>
                    <mat-icon>bug_report</mat-icon>
                    <span>Bug report</span>
                </button>
            </mat-menu>
        </span>
    </mat-toolbar>
    <mat-sidenav-container style="background:#f1f1f1" fullscreen>
        <mat-sidenav #sidenav mode="side" class="app-sidenav" opened="false">
            <mat-list>
                <!--<h1 style="text-align:center;font-size:1.5em;">Entities</h1>-->
                <!--<mat-divider></mat-divider>-->
            </mat-list>
            <mat-list>
                <h3 mat-subheader> System Admin </h3>
                <mat-list-item>
                    <button 
                        mat-list-item
                        mat-button
                        class="sidenav-item-button"
                        [routerLink]="['genre']">
                        Type
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button 
                        mat-list-item
                        mat-button
                        class="sidenav-item-button"
                        [routerLink]="['attribute']">
                        Attribute
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button 
                        mat-list-item
                        mat-button
                        class="sidenav-item-button"
                        [routerLink]="['entity']">
                        Entity
                    </button>
                </mat-list-item>
                <mat-divider></mat-divider>
                <h3 mat-subheader> App Admin </h3>
                <mat-list-item *ngFor="let e of serviceList">
                    <button
                        mat-list-item
                        mat-button
                        class="sidenav-item-button"
                        [routerLink]="['view', e.id]">
                        {{e.label?e.label:"(no label)"}}
                    </button>
                </mat-list-item>
                <mat-divider></mat-divider>
                <h3 mat-subheader> User </h3>
                <mat-list-item>
                    <button 
                        mat-list-item
                        mat-button
                        class="sidenav-item-button"
                        [routerLink]="['manufacturing']">
                        Manufacturing
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button 
                        mat-list-item
                        mat-button
                        class="sidenav-item-button"
                        [routerLink]="['query']">
                        Query
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button
                        mat-list-item
                        mat-button
                        class="sidenav-item-button"
                        [routerLink]="['tree']">
                        Tree
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button
                        mat-list-item
                        mat-button
                        class="sidenav-item-button"
                        [routerLink]="['workcenter-overview']">
                        Workcenter Overview
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button
                        mat-list-item
                        mat-button
                        class="sidenav-item-button"
                        [routerLink]="['project-management']">
                        Project Management
                    </button>
                </mat-list-item>
            </mat-list>
        </mat-sidenav>
        <div class="central-content">
            <div *ngIf="showMessage">
                <mat-list>
                    <h1 mat-subheader>Changelog</h1>
                    <mat-list-item *ngFor="let log of taskCompletedList">
                        <mat-icon
                            *ngIf="log.title != ''"
                            mat-list-icon>check_box</mat-icon>
                        <mat-icon
                            *ngIf="log.title == ''"
                            mat-list-icon>more_horiz</mat-icon>
                        <h4
                            mat-line
                            [class.highlight-log]="log.highlight">
                            <a
                                href="{{log.url}}"
                                *ngIf="log.url">
                                {{log.title}}
                            </a>
                            <span
                                *ngIf="!log.url">
                                {{log.title}}
                            </span>
                        </h4>
                        <p style="opacity:0.4;" mat-line>{{log.date}}</p>
                    </mat-list-item>
                    <h1 mat-subheader>Issues (high and normal priority)</h1>
                    <mat-list-item *ngFor="let log of taskPlannedList">
                        <mat-icon
                            *ngIf="log.title != ''"
                            mat-list-icon>check_box_outline_blank</mat-icon>
                        <mat-icon
                            *ngIf="log.title == ''"
                            mat-list-icon>more_horiz</mat-icon>
                        <h4
                            mat-line
                            [class.cancelled-feature]="log.title == '#189 液相多重实验分开下达'">
                            {{log.title}}
                        </h4>
                        <p style="opacity:0.4;" mat-line>{{log.date}}</p>
                    </mat-list-item>
                </mat-list>
            </div>
            <router-outlet
                (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)">
            </router-outlet>
        </div>
    </mat-sidenav-container>
    <spinner-component></spinner-component>
</section>
