.appButton {
    text-decoration: none;
    color: inherit;
    height: 10em;
    width: 10em;
    border-radius: 10px 10px 10px 10px;
    border-width: 0 0 3px;
    background: #f1f1f1;
    /*box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)*/
}
/*.appButton:hover{*/
    /*box-shadow:0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);*/
/*}*/
.appLabel{
    text-align: center;
}
.appIcon {
    font-size: 3em;
    opacity: 0.5;
    margin: 15px 0 0 -15px;
}
.square_board{
    margin: 10px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}
.square_board:hover{

    box-shadow:0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

::ng-deep mat-grid-tile.mat-grid-tile .mat-figure {
    align-items: initial;  /*vertical alignment*/
}

.sample-count {
    background-color: #fa3e3e;
    border-radius: 2px;
    color: white;

    padding: 1px 3px;
    margin: -6px;
    font-size: 10px;

    position: absolute; /* Position the badge within the relatively positioned button */
    top: 0;
    right: 0;

    /*box-shadow:0 2px 2px -1px rgba(0,0,0,.2), 0 2px 3px 1px rgba(0,0,0,.14), 0 1px 2px 1px rgba(0,0,0,.12);*/
}
