
<div
    class="chartContextMenuClass"
    [ngStyle]="chartContextMenuStyle"
    [matMenuTriggerFor]="chartContextMenu">
</div>
<div
    *ngFor="let chartItem of lineChartItemList"
    style="display: block;">
    <canvas baseChart width="200" height="100"
                (contextmenu)="chartRightClicked(chartItem, $event)"
                [datasets]="chartItem['data']"
                [labels]="chartItem['labels']"
                [options]="chartItem['options']"
                [colors]="chartItem['colors']"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked(chartItem, $event)"></canvas>
</div>

<mat-menu
    #chartContextMenu="matMenu">
    <button
        (click)="terminateAll()"
        mat-menu-item>
        Terminate all
    </button>
    <button
        mat-menu-item>
        ITEM 1
    </button>
</mat-menu>
