<div
    *ngFor="let chartItem of lineChartItemList"
    style="display: block;">
    <div
        fxLayout="row"
        fxLayoutGap="10px"
        fxLayoutAlign="end center">
        <div style="opacity:0.7;font-size:50%">
            {{targetSampleMap[chartItem['targetSampleId']].id}}
        </div>
        <div>
            {{targetSampleMap[chartItem['targetSampleId']].createdAt | date: 'yyyy.MM.dd hh:mm'}}
        </div>
    </div>
    <canvas baseChart width="200" height="100"
                [datasets]="chartItem['data']"
                [labels]="chartItem['labels']"
                [options]="chartItem['options']"
                [colors]="chartItem['colors']"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked(chartItem, $event)"></canvas>
</div>
<div
    fxLayoutGap="10px"
    fxLayout="row"
    fxLayoutAlign="start center">
    <button
        mat-button
        [disabled]="(lineChartSelectedSampleMap|json) == '{}'"
        (click)="terminateAll()">
        Terminate
    </button>
    <button
        mat-button
        [disabled]="(lineChartSelectedSampleMap|json) == '{}'"
        (click)="recoverAll()">
        Recover
    </button>
</div>

