<div
    fxLayout="row"
    fxLayoutAlign="space-between center" >
    <h3>
        KPI
    </h3>
    <div
        fxLayoutGap="10px"
        fxLayout="row"
        fxLayoutAlign="end center">
        <div fxLayout="row" fxLayoutAlign="space-between center" >
            <md-input-container>
                <input
                    mdInput
                    type="date"
                    (keyup.enter)="getSampleList()"
                    [(ngModel)]="queryDateStart"
                    placeholder="starts at..."/>
            </md-input-container>
            <md-input-container>
                <input
                    mdInput
                    type="date"
                    (keyup.enter)="getSampleList()"
                    [(ngModel)]="queryDateEnd"
                    placeholder="ends at..."/>
            </md-input-container>
        </div>
        <button
            md-button
            aria-label="Search"
            placeholder="Search"
            (click)="getSampleList()">
            <md-icon>search</md-icon>
        </button>
    </div>
</div>
<h4 class="section-title">
    Overview: {{queryDateStart}} - {{queryDateEnd}}
</h4>
<md-card>
    <md-card-header>
        <md-card-title></md-card-title>
        <md-card-subtitle></md-card-subtitle>
    </md-card-header>
    <!--<img md-card-image src="assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
    <md-card-content>
        <table *ngIf="done">
            <thead>
                <tr>
                    <th class="workcenter-column">
                        Workcenter
                    </th>
                    <th *ngFor="let operatorId of operatorMap | objectKeys">
                        <entity-tostring
                            [entityId]="operatorId">
                        </entity-tostring>
                    </th>
                    <th>
                        Sum
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let workcenterId of workcenterMap | objectKeys">
                    <td class="workcenter-column">
                        {{workcenterMap[workcenterId]['label']}}
                    </td>
                    <td (click)="showDetail(workcenterMap[workcenterId]['TMP_OPERATOR_SAMPLE_LIST'][operatorId])"
                        *ngFor = "let operatorId of workcenterMap[workcenterId]['TMP_OPERATOR_SAMPLE_LIST'] | objectKeys">
                        {{workcenterMap[workcenterId]['TMP_OPERATOR_SAMPLE_LIST'][operatorId].length}}
                    </td>
                    <td *ngIf="(workcenterMap[workcenterId]['TMP_OPERATOR_SAMPLE_LIST']|objectKeys).length == 0">
                    </td>
                    <td (click)="showDetail(workcenterMap[workcenterId]['TMP_SAMPLE_LIST'])">
                        {{workcenterMap[workcenterId]['TMP_SAMPLE_LIST'].length>0?workcenterMap[workcenterId]['TMP_SAMPLE_LIST'].length:''}}
                    </td>
                </tr>
            </tbody>
        </table>
  </md-card-content>
</md-card>


<h4 class="section-title">
    Detail
</h4>
<md-accordion [multi]="false">
    <md-expansion-panel
        *ngFor="let sample of detailedSampleList">
        <md-expansion-panel-header>
            <md-panel-title>
                {{sample.SYS_SAMPLE_CODE}}
            </md-panel-title>
            <md-panel-description>
                {{sample.id}}
            </md-panel-description>
        </md-expansion-panel-header>
        <div fxLayout="column" fxLayoutAlign="start start" >
            <div
                *ngFor="let schema of sample.SYS_SCHEMA"
                fxLayout="row" fxLayoutAlign="space-between center" >
                <div style="opacity:0.7">
                    {{schema.SYS_LABEL}}:
                </div>
                <div style="margin-left: 5px;">
                    <b>
                        <span
                            *ngIf="schema.SYS_TYPE == 'date'">
                            {{sample[schema.SYS_CODE] | date: 'yyyy.MM.dd HH:mm'}}
                        </span>
                        <span
                            *ngIf="schema.SYS_TYPE != 'date'">
                                {{sample[schema.SYS_CODE]}}
                        </span>
                    </b>
                </div>
            </div>
            <div style="opacity:0.7">
                Created:
            </div>
            <div style="margin-left: 5px;">
                <b>
                    {{sample.createdAt | date: 'yyyy.MM.dd HH:mm'}}
                </b>
            </div>
        </div>
    </md-expansion-panel>
</md-accordion>
